.NavBar {
    display: flex;
    background: transparent;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background: grey;
  }
  
  .Categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .Option {

    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;
    /* TODO */
    width: auto;
    padding: 12px;
    font-size: 8px;
    background: black;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }
  
  .ActiveOption {

    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;

    width: auto;
    padding: 12px;
    font-size: 15px;
    background: cyan;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ff0000;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }
  
  .NavLink {
    color :rgb(255, 0, 0)
  }

  h3 { 
    color: white;
  }
